<body>
  <nav class="nav">
    <div class="container">
      <h1 class="logo"><a href="#">My website</a></h1>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#Project">My Projects</a></li>
        <li><a href="#Skills">Skills</a></li>
        <li><a href="#Contact">Contact Us</a></li>

      </ul>
    </div>
  </nav>

  <div class="hero">
    <div class="container">
      <h1>Welcome to our website</h1>
      <p>Looking For opportunities in UI Developer ||Angular || JavaScript || Typescript || HTML5 || CSS3 || Bootstrap || Angular Material || Git || JSON || Rest API || Frebase || Ionic-Framework || Student at Sri Krishnadevaraya University...</p>
      <div class="gtm">
        <a href="/"><button class="bn30">Login</button></a>
        <a href="/"><button class="bn30">Sign Up</button></a>
      </div>
    </div>
  </div>

  <section class="project" id="Project">
    <div class="heading">
      <h1>My_Projects</h1>
    </div>
    <div class="main-box">
      <div class="cardBox">
        <div class="card">
          <img height="200px"
            src="https://plus.unsplash.com/premium_photo-1685086785054-d047cdc0e525?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHdlYiUyMGRldmVsb3BtZW50fGVufDB8fDB8fHww"
            alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, pariatur. Perferendis cum quasi earum
            optio.</p>
          <div class="check">
            <a href="/"><button class="bn30">Check Now</button></a>
          </div>
        </div>
      </div>
      <div class="cardBox">
        <div class="card">
          <img height="200px"
            src="https://images.unsplash.com/photo-1564865878688-9a244444042a?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, pariatur. Perferendis cum quasi earum
            optio.</p>
          <div class="check">
            <a href="/"><button class="bn30">Check Now</button></a>
          </div>
        </div>
      </div>
      <div class="cardBox">
        <div class="card">
          <img height="200px"
            src="https://images.unsplash.com/photo-1550439062-609e1531270e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8cHJvZ3JhbW1pbmd8ZW58MHx8MHx8fDA%3D"
            alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, pariatur. Perferendis cum quasi earum
            optio.</p>
          <div class="check">
            <a href="/"><button class="bn30">Check Now</button></a>
          </div>
        </div>
      </div>
      <div class="cardBox">
        <div class="card">
          <img height="200px"
            src="https://images.unsplash.com/photo-1509718443690-d8e2fb3474b7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHByb2dyYW1taW5nfGVufDB8fDB8fHww"
            alt="">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, pariatur. Perferendis cum quasi earum
            optio.</p>
          <div class="check">
            <a href="/"><button class="bn30">Check Now</button></a>
          </div>
        </div>
      </div>

    </div>
  </section>

<section class="skills" id="Skills">
    <div class="heading">
      <h1>My_Skills</h1>
    </div>
    <div class="prog">
      <div class="row">
        <div class="col-sm-6">
          <div class="main">
          <label class="txt" for="html">HTML</label>
          <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 70%"></div>
          </div>
        </div>
        <div class="main">
          <label class="txt" for="html">CSS</label>
          <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50%"></div>
          </div>
        </div>
        <div class="main">
          <label class="txt" for="html">javaScript</label>
          <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="45"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 45%"></div>
          </div>
        </div>
        <div class="main">
          <label class="txt" for="html">TypeScript</label>
          <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50%"></div>
          </div>
        </div>
        <div class="main">
          <label class="txt" for="html">Bootstrap</label>
          <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="60"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 60%"></div>
          </div>
        </div>
      </div>
        <div class="col-sm-6">
          <div class="main">
          <label class="txt" for="html">Angular</label>
          <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 70%"></div>
          </div>
          <div class="main">
            <label class="txt" for="html">Angular-Material</label>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 50%"></div>
            </div>
          </div>
          <div class="main">
            <label class="txt" for="html">GitHub</label>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="80"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 80%"></div>
            </div>
          </div> 
          <div class="main">
            <label class="txt" for="html">Ionic Frame-Work</label>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="30"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 30%"></div>
            </div>
          </div> 
          <div class="main">
            <label class="txt" for="html">Firebase</label>
            <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="40"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 40%"></div>
            </div>
          </div> 
      </div>
    </div>
        <div class="check">
          <a href="/"><button class="bn30">Download Resume</button></a>
        </div> 
   </div>
  </div>
</section>
  <!-- </section> -->

  <!-- contact form -->

  <div class="" id="Contact">
    <div class="contact__wrapper shadow-lg" style="background-color: whitesmoke; height: 580px; padding: 30px; margin-top: -50px;">
      <div class="txt" style="display: flex; justify-content: center; align-items: center;">
        <h1>Contact Me</h1>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-3 order-lg-2">
          <h3 class="color--white mb-5">Contact</h3>

          <ul class="contact-info__list list-style--none position-relative z-index-101">
            <li class="mb-4 pl-4">
              <span class="position-absolute"><i class=""></i></span>my-web-application.com
            </li>
            <li class="mb-4 pl-4">
              <span class="position-absolute"><i class=""></i></span>7795228611
            </li>
            <li class="mb-4 pl-4">
              <span class="position-absolute"><i class=""></i></span>Hii there i'm Venkatesh
              <br> 
              <br> Angular Front-End  Web-Developer.

              <ul class="social-menu">
                <li class="social-btn facebook" tooltip="Facebook">
                  <a href="#">
                    <i class="fa-brands fa-square-facebook"></i>
                  </a>
                </li>
                <li class="social-btn instagram" tooltip="Instagram">
                  <a class="instagram" href="#">
                    <i class="fa-brands fa-square-instagram"></i>
                  </a>
                </li>
                <li class="social-btn gitHub" tooltip="gitHub">
                  <a href="#">
                    <i class="fa-brands fa-square-pinterest"></i>
                  </a>
                </li>
                <li class="social-btn linkedin" tooltip="LinkedIn">
                  <a href="#">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <figure class="figure position-absolute m-0 opacity-06 z-index-100" style="bottom:0; right: 10px">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="444px"
              height="626px">
              <defs>
                <linearGradient id="PSgrad_1" x1="0%" x2="81.915%" y1="57.358%" y2="0%">
                  <stop offset="0%" stop-color="rgb(255,255,255)" stop-opacity="1"></stop>
                  <stop offset="100%" stop-color="rgb(0,54,207)" stop-opacity="0"></stop>
                </linearGradient>

              </defs>
              <path fill-rule="evenodd" opacity="0.302" fill="rgb(72, 155, 248)"
                d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
              <path fill="url(#PSgrad_1)"
                d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
            </svg>
          </figure>
        </div>

        <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
          <form action="#" class="contact-form form-validate" novalidate="novalidate">
            <div class="row">
              <div class="col-sm-6 mb-3">
                <div class="form-group">
                  <label class="required-field" for="firstName">first Name</label>
                  <input type="text" class="form-control" id="firstName" name="firstName" placeholder="first Name">
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <div class="form-group">
                  <label for="lastName">Last Name:</label>
                  <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <div class="form-group">
                  <label class="required-field" for="email">Email:</label>
                  <input type="text" class="form-control" id="email" name="email" placeholder="Demo@gmail.com">
                </div>
              </div>

              <div class="col-sm-6 mb-3">
                <div class="form-group">
                  <label for="phone">Mobile No:</label>
                  <input type="tel" class="form-control" id="phone" name="phone" placeholder="546546465454">
                </div>
              </div>

              <div class="col-sm-12 mb-3">
                <div class="form-group">
                  <label class="required-field" for="message">Please Write Your Query And Send Me..</label>
                  <textarea class="form-control" id="message" name="message" rows="4"
                    placeholder="Write Now..."></textarea>
                </div>
              </div>

              <div class="check">
                <a href="/"><button class="bn30">Download Resume</button></a>
              </div>

            </div>
          </form>
        </div>
        <!-- End Contact Form Wrapper -->

      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="txt">
      <p>Copyright &copy; 2024 Design By A Venkatesh</p>
    </div>
  </footer>
</body>
